<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
    <ion-content class="ion-padding">
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="https://cdn-icons-png.flaticon.com/128/6996/6996778.png" alt="">
        <ion-label>
        </ion-label>

      </div>

      <ion-list class="menu-items" lines="none">
        <ion-menu-toggle>

          <ion-item>
            <ion-icon name="people-circle" (click)="getUid()" routerLink="listar-citas"></ion-icon>
            <p>&nbsp; Listar Pacientes</p>
          </ion-item>
          <ion-item>
            <ion-icon name="browsers-outline" routerLink="perfil"></ion-icon>
            <p>&nbsp; Mi perfil</p>
          </ion-item>
          <ion-item>
            <ion-icon name="log-out-outline" (click)="logout()"></ion-icon>
            <p>&nbsp; Cerrar Sesión</p>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>