<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Citas Medicas App
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Citas agendadas
    </ion-list-header>
    <ion-item *ngFor="let cita of citas" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{cita.paciente}}
        </h5>
        <p>
          <ion-icon name="call"></ion-icon> {{cita.celular}}
        </p>
      </ion-label>
      <div item-end>
        <button ion-button clear [routerLink]="['/editar-cita/', cita.id]">
          <ion-icon name="create" style="zoom:2.0; background-color: red;"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteCita(cita.id)">
          <ion-icon name="trash" style="zoom:2.0; background-color: red"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

  <ion-button expand="full" routerLink="/crear-cita" color="primary">
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-button>

</ion-content>